{% extends "layout.html" %}
{% from "macros/datatable.html" import render_table, render_js %}
{% set table_id = "member-table" %}
{% block content %}
<div class="container">
{{ render_table(table_id,"List of all Members", users) }}
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script>
{{ render_js(table_id) }}
 </script>
{% endblock %}
{#                <td>#}
{#                    <a href="{{ url_for('user.profile', id=user.id)}}"#}
{#                       type="button" class="btn btn-primary btn-sm">View</a>#}
{#                    <a href="{{ url_for('user.edit_profile', id=user.id)}}"#}
{#                       type="button" class="btn btn-warning btn-sm">Edit</a>#}
{#                </td>#}
