{% macro render_header(sql_query) -%}
  <tr>
    {% for col in sql_query.column_descriptions %}
      <th>{{ col.name }}</th>
    {% endfor %}

  </tr>
{%- endmacro %}


{% macro render_row(row, view_url) -%}
  <tr data-url="{{ make_link(row, view_url) }}">

    {% for item in row %}
      <td>{{ item }}</td>
    {% endfor %}
  </tr>
{%- endmacro %}


{% macro make_link(row=None, view_url=None) %}
  {{ view_url['func'](row) }}
{% endmacro %}


{% macro render_table(id, heading, sql_query, view_url=None) -%}
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ heading }}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover
        clickable_row "
               id="{{ id }}">
          <thead>
          {{ render_header(sql_query) }}
          </thead>
          <tbody>
          {% for row in sql_query %}
            {{ render_row(row, view_url=view_url) }}
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
{%- endmacro %}

{% macro render_js(id) %}
  $(document).ready( function () {
  $('#{{ id|safe }}').DataTable({
  "dom": 'T<"clear">lfrtip',
  "tableTools": {
  "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf"
  }
  } );
  } );
{% endmacro %}
