{% macro render_header(sql_query) -%}
    <tr>
    {% for col in sql_query.column_descriptions %}
            <th>{{ col.name }}</th>
    {% endfor %}
    </tr>
{%- endmacro %}

{% macro render_row(row) -%}
    <tr>
{% for item in row %}
    <td>{{ item }}</td>
{% endfor %}
    </tr>
{%- endmacro %}

{% macro render_table(id, heading, sql_query) -%}
<div class="panel panel-default">
<div class="panel-heading">
    {{ heading }}
</div>
<!-- /.panel-heading -->
<div class="panel-body">
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover" id="{{ id }}">
<thead>
{{ render_header(sql_query) }}
</thead>
<tbody>
{% for row in sql_query %}
   {{ render_row(row) }}
{% endfor %}
</tbody>
</table>
</div>
<!-- /.table-responsive -->
</div>
<!-- /.panel-body -->
</div>
<!-- /.panel -->
{%- endmacro %}

{% macro render_js(id) %}
$(document).ready( function () {
    $('#{{ id|safe }}').DataTable({
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
            "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf"
        }
    } );
} );
{% endmacro %}
