{% macro render_header(sql_query, extra_cols=None) -%}
    <tr>
    {% for col in sql_query.column_descriptions %}
            <th>{{ col.name }}</th>
    {% endfor %}

    {% if extra_cols %}
        {% for col in extra_cols %}
            <th class="{{ col['header']['class'] }}">{{ col['header']['text'] }}</th>
        {% endfor %}
    {% endif %}
    </tr>
{%- endmacro %}


{% macro render_row(row, extra_cols=None, case_perm=None) -%}
    <tr>
    {% for item in row %}
        <td>{{ item }}</td>
    {% endfor %}

    {% if extra_cols %}
        {{ render_extra_row_items(row, extra_cols, case_perm) }}
    {% endif %}
    </tr>

{%- endmacro %}

{% macro render_extra_row_items(row, extra_cols, case_perm) %}
    {% for col in extra_cols %}
        <td class="{{ col['td-class'] }}">
            {% if case_perm != ['admin'] %}
              {% if not row.ID in case_perm %}
              {% else %}
                {% for item in col['contents'] %}
                    {% if item['func'] %}
                        {{ make_link(href=item['func'](row),
                                 text=item['text'],
                                 type=item['type'],
                                 class=item['class']) }}
                    {% endif %}
                {% endfor %}
              {% endif %}

            {% else %}
                {% for item in col['contents'] %}
                    {% if item['func'] %}
                        {{ make_link(href=item['func'](row),
                                 text=item['text'],
                                 type=item['type'],
                                 class=item['class']) }}
                    {% endif %}
                {% endfor %}
            {% endif %}

        </td>
    {% endfor %}
{% endmacro %}

{% macro make_link(href=None, text=None, type=None, class=None) %}
    <a href="{{ href }}" type="{{ type }}" class="{{ class }}">{{ text }}</a>
{% endmacro %}


{% macro render_table(id, heading, sql_query, extra_cols=None, case_perm=None) -%}
    <div class="panel panel-default">
    <div class="panel-heading">
        {{ heading }}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="{{ id }}">
    <thead>
    {{ render_header(sql_query, extra_cols=extra_cols) }}
    </thead>
    <tbody>
    {% for row in sql_query %}
       {{ render_row(row, extra_cols=extra_cols, case_perm=case_perm) }}
    {% endfor %}
    </tbody>
    </table>
    </div>
    <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
{%- endmacro %}

{% macro render_js(id) %}
    $(document).ready( function () {
        $('#{{ id|safe }}').DataTable({
            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf"
            }
        } );
    } );
{% endmacro %}
