
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center">
  <h1>Welcome to octopus</h1>
  <h2>QAU's exam tracking tool</h2>
</div>
<!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
  <div class="col-lg-4">
      <h2><i class="fa fa-user"></i> Users</h2>
      <p>Check out what every octopus user is working on, as well as their meta-details</p>
      <p><a class="btn btn-default" href="{{ url_for('user.dashboard') }}">Members &raquo;</a></p>
  </div>
  <div class="col-lg-4">
      <h2><i class="fa fa-briefcase"></i> Cases</h2>
      <p>Check the progress, history or details of any case</p>
      <p><a class="btn btn-default" href="{{ url_for('case.dashboard') }}">Cases &raquo;</a></p>
  </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-signal"></i> Visualizations</h2>
      <p>Visualize the whole thing</p>
      <p><a class="btn btn-default" href="#">Reports &raquo;</a></p>
   </div>
  </div>
<!-- /.row -->
</div>
{% endblock %}

