
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center">
  <h1>Welcome to octopus</h1>
  <h2>QAU's exam tracking tool</h2>
</div>
<!-- /.jumbotron -->

{% if current_user.is_authenticated() %}
<div class="body-content">
  <div class="row">
  <div class="col-lg-4">
      <h2><i class="fa fa-user"></i> Users</h2>
      <p>Check out what every octopus user is working on, as well as their meta-details</p>
      <p><a class="btn btn-default" href="{{ url_for('user.all_users') }}">Members &raquo;</a></p>
  </div>
  <div class="col-lg-4">
      <h2><i class="fa fa-briefcase"></i> Cases</h2>
      <p>Check the progress, history or details of any case</p>
      <p><a class="btn btn-default" href="{{ url_for('case.all_cases') }}">Cases &raquo;</a></p>
  </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-signal"></i> Visualizations</h2>
      <p>Visualize the whole thing</p>
{#      <p><button type="button" class="btn btn-default" href="#" data-toggle="popover" data-content="Before we can do this part, we need data in the system.">Reports &raquo;</button></p>#}
   </div>
  </div>
<!-- /.row -->
</div>
{% endif %}
{% endblock %}

