{% extends "layout.html" %}
{% from "macros/datatable.html" import render_table, render_js %}
{% set table_id = "my-cases-table" %}


{% block content %}
  <div class="container">
    <!-- /.row -->
    <div class="row">
          {{ render_table(table_id, "List of All Cases", cases, view_url=view_url) }}
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
{% endblock %}


{% block js %}
  {{ super() }}
  <script>
    {{ render_js(table_id) }}
  </script>
{% endblock %}
