{% extends "layout.html" %}
{% from "macros/ajax_modal_link.html" import render_modal_link %}

{% block content %}
<div class="container">
<h2 class="text-center">{{ case.case_name|default('Case Not Found') }}</h2>
<div class="panel panel-default">
<div class="panel-heading clearfix">
    <span>Core Case Details</span>
    <a class="pull-right" href="{{ url_for('case.edit', case_id=case.id, edit_form='core') }}">Edit</a>
</div>{# End Panel Heading#}

<div class="panel-body">

<div class="row">
    <a class="pull-right" href="{{ url_for('case.edit', case_id=case.id, edit_form='tags') }}">Tags Edit</a>
    <div class="col-lg-3">
        <table class="table table-condensed table-striped table-bordered">
            <tbody class="">
            <tr>
                <td>Case ID #</td>
                <td>{{ case.id }}</td>
            </tr>
            <tr>
                <td>CRD #</td>
                <td>{{ case.crd_number }}</td>
            </tr>
            <tr>
                <td>Case Type</td>
                <td>{{ case.case_type }}</td>
            </tr>
            <tr>
                <td>Region</td>
                <td>{{ case.region }}</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>{{ case.start_date }}</td>
            </tr>
            <tr>
                <td>End Date</td>
                {% if case.end_date %}
                <td>{{ case.end_date }}</td>
                {% else %}
                <td>Still Open</td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-9">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Description</h4>
                <p class="text-justify">{{ case.case_desc }}</p>
            </li>
        </ul>
    </div>
</div>
</div>{#End Panel Body#}

</div>
</div>
{% endblock %}

