{% extends "layout.html" %}

{% block content %}
  <h1>{{ 'Edit Case File' if file_id else 'Create a New Case File' }}</h1>
  <br/>
  <form id="caseFileForm" class="form" method="POST" action="" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.kind.label }}
      {{ form.kind(class_="form-control") }}
    </div>
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class_="form-control") }}
    </div>
    <div class="form-group">
      {{ form.path.label }}
      {{ form.path(class_="form-control") }}
    </div>
    {#  <div class="form-group">#}
    {#    {{form.delete.label}}#}
    {#    {{form.delete(class_="form-control")}}#}
    {#  </div>#}
    <p><input class="btn btn-default btn-submit" type="submit"
              value="{{ 'Save Edits' if file_id else 'Create New File' }}"></p>
  </form>
{% endblock %}

