
{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h1>Edit Case Tags</h1>
    <br/>
    <form id="caseTags" class="form" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
{#                    {{form.case_tags.label}}#}
                    </br>
                    <input type="text" value="Amsterdam,Washington" data-role="tagsinput" />


{#                    <select name="{{ form.case_tags.id }}" id="{{ form.case_tags.id }}" multiple="" data-role="tagsinput" data-provide="typeahead">#}
{#                        {% for label, value in form.case_tags.choices %}#}
{#                            <option value="{{ value }}">{{ label }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
                    </br>
{#                    <input class="btn btn-default btn-submit left" type="submit" value="Save Tags">#}
                </div>
            </div>
        </div>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}

    <script>
        var citynames = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: '{{ url_for('static', filename='citynames.json') }}',
                filter: function(list) {
                    return $.map(list, function(cityname) {
                        return { name: cityname }; });
                }
            }
        });
        citynames.initialize();

        $('input').tagsinput({
            typeaheadjs: {
                name: 'citynames',
                displayKey: 'name',
                valueKey: 'name',
                source: citynames.ttAdapter()
            }
        });
    </script>
{% endblock %}

