
{% extends "layout.html" %}

{% from "macros/datepicker.html" import make_datepicker_js, make_datepicker_tag %}

{% block content %}
<div class="container-narrow">
  <h1>Create a New Case</h1>
    <br/>
    <form id="newCase" class="form form-register" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
        <div class="form-group">
            {{form.case_name.label}}
            {{form.case_name(class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.case_desc.label}}
            {{form.case_desc(class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.crd_number.label}}
            {{form.crd_number(class_="form-control")}}
        </div>
        <div class="form-group">
            {{ make_datepicker_tag(form.start_date.label, form.start_date.id)}}
        </div>
        <div class="form-group">
            {{ make_datepicker_tag(form.end_date.label, form.end_date.id)}}
        </div>
        <div class="form-group">
            {{form.case_type.label}}
            {{form.case_type(class_="form-control")}}
        </div>
        <div class="form-group">
            {{form.case_region.label}}
            {{form.case_region(class_="form-control")}}
        </div>
        <p><input class="btn btn-default btn-submit" type="submit" value="Create New Case"></p>
    </form>
</div>
{% endblock %}

{% block js %}
    {{ super() }}
    {{ make_datepicker_js(form.start_date.id) }}
    {{ make_datepicker_js(form.end_date.id) }}
{% endblock %}

